# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.eggs/
*.egg
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env

# Node
node_modules/
frontend/dist/

# Docker
docker-compose.override.yml

# Alembic
alembic/versions/*.pyc

# Test
.pytest_cache/
htmlcov/
.coverage
